
<p><strong>User name:</strong> <%= game.user.name%></p>
<p><strong>You chose:</strong> <%= game.user_choice.capitalize %></p>
<p><strong>Server chose:</strong> <%= game.server_choice.capitalize %></p>
<p><strong>Result:</strong> <%= game.result.capitalize %></p>
